Title:

Introduction:
Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project

Preliminary exploratory data analysis:

Demonstrate that the dataset can be read from the web into R 
Clean and wrangle your data into a tidy format
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [2]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

In [7]:
url <-"https://github.com/JackyLinllk/ubc_dsci100_assignment/raw/main/loan_default.csv"
loan_data <-read_csv(url)|>
    mutate(Default = as.factor(Default)) |>
    mutate(Defaulted = fct_recode(Default, "Yes" = "1" , "No" = "0"))
loan_data

loan_split <- initial_split(loan_data, prop = 0.75, strata = Default)  
loan_train <- training(loan_split)
loan_test <- testing(loan_split)

yesnoratio <- loan_train|>
    group_by(Defaulted)|>
    summarize(count = n())
yesnoratio

Rows: 255347 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): LoanID, Education, EmploymentType, MaritalStatus, HasMortgage, Has...
dbl (10): Age, Income, LoanAmount, CreditScore, MonthsEmployed, NumCreditLin...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

       LoanID     Age Income LoanAmount CreditScore MonthsEmployed
1      I38PQUQS96 56  85994   50587     520         80
2      HPSK72WA7R 69  50432  124440     458         15
3      C1OZ6DPJ8Y 46  84208  129188     451         26
⋮      ⋮          ⋮   ⋮      ⋮          ⋮           ⋮
255345 XQK1UUUNGP 56  84820  208294     597          70
255346 JAO28CPL4H 42  85109   60575     809          40
255347 ZTH91CGL0B 62  22418   18481     636         113
       NumCreditLines InterestRate LoanTerm DTIRatio Education   EmploymentType
1      4              15.23        36       0.44     Bachelor's  Full-time
2      1               4.81        60       0.68     Master's    Full-time
3      3              21.17        24       0.31     Master's    Unemployed
⋮      ⋮              ⋮            ⋮        ⋮        ⋮           ⋮
255345 3               5.29        60       0.50     High School Self-employed
255346 1              20.90        48       0.44     High School Part-time
255347 2               6.73        12       0.48     Bachelor's  Unemployed
       MaritalStatus HasMortgage HasDependents LoanPurpose HasCoSigner Default
1      Divorced      Yes         Yes           Other       Yes         0
2      Married       No          No            Other       Yes         0
3      Divorced      Yes         Yes           Auto        No          1
⋮      ⋮             ⋮           ⋮             ⋮           ⋮           ⋮
255345 Married       Yes         Yes           Auto        Yes         0
255346 Single        Yes         Yes           Other       No          0
255347 Divorced      Yes         No            Education   Yes         0
       Defaulted
1      No
2      No
3      Yes
⋮      ⋮
255345 No
255346 No
255347 No

  Defaulted count
1 No        169270
2 Yes        22239

Methods:
Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
Describe at least one way that you will visualize the results

Expected outcomes and significance:
What do you expect to find?
What impact could such findings have?
What future questions could this lead to?