In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

In [2]:
url <-"https://github.com/JackyLinllk/ubc_dsci100_assignment/raw/main/loan_default.csv"
loan_data <-read_csv(url) 
 
loan_data

Rows: 255347 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): LoanID, Education, EmploymentType, MaritalStatus, HasMortgage, Has...
dbl (10): Age, Income, LoanAmount, CreditScore, MonthsEmployed, NumCreditLin...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

       LoanID     Age Income LoanAmount CreditScore MonthsEmployed
1      I38PQUQS96 56  85994   50587     520         80
2      HPSK72WA7R 69  50432  124440     458         15
3      C1OZ6DPJ8Y 46  84208  129188     451         26
⋮      ⋮          ⋮   ⋮      ⋮          ⋮           ⋮
255345 XQK1UUUNGP 56  84820  208294     597          70
255346 JAO28CPL4H 42  85109   60575     809          40
255347 ZTH91CGL0B 62  22418   18481     636         113
       NumCreditLines InterestRate LoanTerm DTIRatio Education   EmploymentType
1      4              15.23        36       0.44     Bachelor's  Full-time
2      1               4.81        60       0.68     Master's    Full-time
3      3              21.17        24       0.31     Master's    Unemployed
⋮      ⋮              ⋮            ⋮        ⋮        ⋮           ⋮
255345 3               5.29        60       0.50     High School Self-employed
255346 1              20.90        48       0.44     High School Part-time
255347 2               6.73        12       0.48     Bachelor's  Unemployed
       MaritalStatus HasMortgage HasDependents LoanPurpose HasCoSigner Default
1      Divorced      Yes         Yes           Other       Yes         0
2      Married       No          No            Other       Yes         0
3      Divorced      Yes         Yes           Auto        No          1
⋮      ⋮             ⋮           ⋮             ⋮           ⋮           ⋮
255345 Married       Yes         Yes           Auto        Yes         0
255346 Single        Yes         Yes           Other       No          0
255347 Divorced      Yes         No            Education   Yes         0

In [3]:
loan_split <- initial_split(loan_data, prop = 0.75, strata = Default)  
loan_train <- training(loan_split)
loan_test <- testing(loan_split)

loan_train
#loan_recipe <- recipe(Default ~ Age + Income + LoanAmount + CreditScore + MonthsEmployed, data= loan_train)|>
#    step_scale(all_predictors())|>
#    step_center(all_predictors()) 

#loan_recipe_scaled <-

       LoanID     Age Income LoanAmount CreditScore MonthsEmployed
1      I38PQUQS96 56  85994   50587     520         80
2      HPSK72WA7R 69  50432  124440     458         15
3      V2KKSFM3UN 32  31713   44799     743          0
⋮      ⋮          ⋮   ⋮      ⋮          ⋮           ⋮
191507 F40NYFL3QR 65  111206 112192     315          3
191508 BM4B25R7EI 22   45575  43355     545         99
191509 AKXAXQN7PG 40  129890 116119     701         38
       NumCreditLines InterestRate LoanTerm DTIRatio Education   EmploymentType
1      4              15.23        36       0.44     Bachelor's  Full-time
2      1               4.81        60       0.68     Master's    Full-time
3      3               7.07        24       0.23     High School Full-time
⋮      ⋮              ⋮            ⋮        ⋮        ⋮           ⋮
191507 3              20.17        36       0.63     High School Unemployed
191508 1              21.86        12       0.52     PhD         Unemployed
191509 3               9.91        24       0.23     High School Part-time
       MaritalStatus HasMortgage HasDependents LoanPurpose HasCoSigner Default
1      Divorced      Yes         Yes           Other       Yes         0
2      Married       No          No            Other       Yes         0
3      Married       No          No            Business    No          0
⋮      ⋮             ⋮           ⋮             ⋮           ⋮           ⋮
191507 Married       Yes         Yes           Auto        No          1
191508 Married       Yes         Yes           Education   No          1
191509 Divorced      Yes         No            Home        Yes         1

In [4]:



loan_train_graph <- ggplot(loan_train_sliced, aes(x= CreditScore, y= LoanAmount, color = Defaulted))+
    geom_point()+
    labs(x="CreditScore" , y="LoanAmount", Color = "Defaulted")

ERROR: Error in ggplot(loan_train_sliced, aes(x = CreditScore, y = LoanAmount, : object 'loan_train_sliced' not found