In [3]:
library(tidyverse)

loan <-read_csv("loan_default.csv") 
head(loan)

Rows: 255347 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): LoanID, Education, EmploymentType, MaritalStatus, HasMortgage, Has...
dbl (10): Age, Income, LoanAmount, CreditScore, MonthsEmployed, NumCreditLin...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  LoanID     Age Income LoanAmount CreditScore MonthsEmployed NumCreditLines
1 I38PQUQS96 56  85994   50587     520         80             4
2 HPSK72WA7R 69  50432  124440     458         15             1
3 C1OZ6DPJ8Y 46  84208  129188     451         26             3
4 V2KKSFM3UN 32  31713   44799     743          0             3
5 EY08JDHTZP 60  20437    9139     633          8             4
6 A9S62RQ7US 25  90298   90448     720         18             2
  InterestRate LoanTerm DTIRatio Education   EmploymentType MaritalStatus
1 15.23        36       0.44     Bachelor's  Full-time      Divorced
2  4.81        60       0.68     Master's    Full-time      Married
3 21.17        24       0.31     Master's    Unemployed     Divorced
4  7.07        24       0.23     High School Full-time      Married
5  6.51        48       0.73     Bachelor's  Unemployed     Divorced
6 22.72        24       0.10     High School Unemployed     Single
  HasMortgage HasDependents LoanPurpose HasCoSigner Default
1 Yes         Yes           Other       Yes         0
2 No          No            Other       Yes         0
3 Yes         Yes           Auto        No          1
4 No          No            Business    No          0
5 No          Yes           Auto        No          0
6 Yes         No            Business    Yes         1